<header class="shadow mb-2">
  <div class="relative flex max-w-screen-xl flex-col overflow-hidden px-4 py-2 md:mx-auto md:flex-row md:items-center">
    <button routerLink="/dashboard" class="flex items-center whitespace-nowrap text-2xl font-black">
      <span class="text-opacity-40 text-fuchsia-950 hover:text-black">Drop Me</span>
    </button>
    <input type="checkbox" class="peer hidden" id="navbar-open" />
    <label class="absolute top-5 right-7 cursor-pointer md:hidden  hover:bg-red-700 hover:bg-opacity-40"
      for="navbar-open">
      <span class="sr-only ">Toggle Navigation</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </label>
    <nav aria-label="Header Navigation"
      class="peer-checked:mt-8 peer-checked:max-h-56 flex max-h-0 w-full flex-col items-center justify-between overflow-hidden transition-all md:ml-24 md:max-h-full md:flex-row md:items-start">
      <ul class="flex flex-col items-center space-y-2 md:ml-auto md:flex-row md:space-y-0">
        <li *ngFor="let item of mobileMenuItems"
          class="text-gray-600 md:mr-12 mt-3 text-base hover:text-fuchsia-950 hover:font-bold">
          <button [routerLink]="item.route">{{ item.label }}</button>
        </li>
        <li>
          <button
            class="rounded-md mt-3 border-2 text-base border-fuchsia-400 px-6 py-1 m text-fuchsia-950 transition-colors hover:bg-fuchsia-950 hover:text-white"
            (click)="SignOut()">LogOut</button>
        </li>
      </ul>
    </nav>
  </div>
</header>